body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../images/1.jpg);
    background-repeat: round;
}

.first {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp-bg {
    background-color:white;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.img img{
    padding-top: 1px;
}


.inp-bg h2 {
    margin: 0;
}

.input input[type="text"],
.input input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input input:focus {
    outline: none;
    border-color: #0072ff;
}

.login input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0072ff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login input[type="submit"]:hover {
    background-color: #0056cc;
}

.register-link {
    font-size: 14px;
}

.register-link a {
    text-decoration: none;
    color: #0072ff;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}